/*
Theme Name: Digital Products
Theme URI: https://wpdigipro.com/wordpress-themes/digital-products
Author: WPDigiPro
Author URI: https://wpdigipro.com
Description: Digital Products is a WordPress theme to help you in selling your Digital Products. This theme is optimized for selling digital products. So, if you would like to sell softwares or PDFs or graphics or any type of membership then Digital Products WordPress theme is for you. Step by step getting started documentation and dummy data is here: https://wpdigipro.com/documentation/digital-products-wordpress-theme/
Version: 1.0.8
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: digital-products
Tags: one-column, two-columns,left-sidebar,grid-layout,custom-logo,custom-colors,custom-menu,featured-images,translation-ready,blog,featured-image-header,footer-widgets,full-width-template,theme-options,threaded-comments
*/
.sticky{}
.gallery-caption{}
.bypostauthor{}

/*Custome css progressbar*/
.count{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding: 0 20px;
	color:#fff;
}
iframe{
    width: 100%;
}